@import "../../shared/theme";

.BetPositionCard {
    border-radius: 3.5px;
    cursor: pointer;
    padding: .8rem;
    text-align: center;
    font: {
        size: $betTextSize;
        weight: $betTextWeight;
    }

    &_Scissors {
        $border:#e31542;
        background-color: #50091e;
        border: 1px solid $border;
        color: $border;
    }

    &_Paper {
        $border:#16c359;
        background-color:#1a381d;
        border: 1px solid $border;
        color: $border;
    }

    &_Rock {
        $border:#2680ea;
        background-color: #211f4f;
        border: 1px solid $border;
        color: $border;
    }
}