.BetContainer {
    display: grid;
    grid-template-rows: 18% 42% 35% 5%;

    &Cards {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    &ButtonWrapper {
        text-align: center;
    }

    &Button {
        margin-top: 3rem;
        width: 10%;
    }

    &_Card {
        width: 8%;
    }
}