.BetContainer {
    display: flex;
    flex-direction: column;
    height: 38vh;
    justify-content: space-between;

    &Cards {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    &ButtonWrapper {
        text-align: center;
    }

    &Button {
        margin-top: 3rem;
        width: 10%;
    }

    &_Card {
        width: 8%;
    }
}